<div class="container">
  <p class="profile-email">You is
    <b><%= current_user.email %></b>
    <br/>
  </p>
  <p class="profile-name">You Zendesk email:
    <b><%= current_user.zendesk_email %></b>
  </p>

  <div class="zendesk-data">
    <%=@tiket%>
  </div>

</div>