<div class="container">
  <p class="profile-email">You is
    <b><%= current_user.email %></b>
    <br/>
  </p>
  <p class="profile-name">You Zendesk email:
    <b><%= current_user.zendesk_email %></b>
  </p>
  <div class="row ticket">
  </div>
  <div class="row text-right">
    <button class="btn btn-danger" onclick="getTickets()">Get Ticket from Zendesk and Save to DB!</button>
    <%= link_to 'Show Reports', reports_path, class:"btn btn-default" %>
    <div class="margin-top">
      <button class="btn btn-success" onclick="prev()">Previous</button>
      <button class="btn btn-success" onclick="next()">Next</button>



      <button class="btn btn-success" onclick="reciveEmail('categorize')">Category Sent</button>
      <button class="btn btn-success" onclick="reciveEmail('report')">Report Sent</button>
    </div>
  </div>

</div>