<% if needs_categorization?(@unsent_emails, @uncategorized_tickets) %>
  <%= render 'profile_details' %>
<% else %>
  <div class='welcome_container'>
    <div>
      <b>Nothing to analyze yet</b>
    </div>
    <p></p>
    <div>We will let you know when the next batch of emails are ready to for analysis.</div>
  </div>
<% end %>
