<div class='welcome_container'>
  <div>
    <b>All done!</b>
  </div>
  <p></p>
  <div>Your <%= first_report_confirmation_text %> support conversations have been analyzed and reports sent.</div>
  <div>We will let you know next week when the next set of emails are ready to be analyzed.</div>
</div>
