<div class='container'>
  <div>
    <b>Welcome</b>
  </div>
  <br/>
  <div>
    Your first batch of tickets is avalible for analysis. Before we dive in we need to check that we have the right categories ready. We also need to check that you have the right actions and recipients set up
  </div>
</div>
