<div class="container">
  <h2>Categories</h2>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <%= render partial: 'user_categories', locals: { categories: @categories } %>
      <div class="row">
        <p>
          <%= link_to 'Done', :profile_users, class: 'btn btn-default', method: :get %>
        </p>
      </div>
    </div>
  </div>
</div>
